@import url(/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&family=Noto+Sans+KR&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
}

.inner {
  width: 1470px;
  margin: auto;
}

header {
  height: 155px;
  background: #fff;
}
header .inner span.hover {
  display: none;
}
header .inner a {
  display: inline-block;
}
header .inner li.main > a {
  color: #333;
}
header .inner .topgnb {
  height: 76px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .inner .topgnb ul {
  display: flex;
}
header .inner .topgnb .gnb li {
  padding: 0 5px;
}
header .inner .topgnb .gnb li a {
  font-weight: 100;
}
header .inner .topgnb .event li {
  margin: 0 5px;
}
header .inner .topgnb .event a {
  text-align: center;
  color: white;
  height: 36px;
  padding: 0 20px;
  margin-left: 5px;
  line-height: 36px;
}
header .inner .topgnb .event li:nth-child(1) {
  background: url(./img/wedding-icon.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: #139cae;
  text-indent: 10px;
  border-radius: 20px;
}
header .inner .topgnb .event li:nth-child(2) {
  background-color: #9badb6;
  border-radius: 20px;
}
header .inner .bottomgnb {
  display: flex;
  justify-content: space-between;
}
header .inner .bottomgnb li.main {
  position: relative;
}
header .inner .bottomgnb li.main:hover > a {
  color: #007aff;
}
header .inner .bottomgnb li.main > a {
  padding-right: 20px;
}
header .inner .bottomgnb .sub {
  position: absolute;
  width: 100%;
  display: none;
}
header .inner .bottomgnb .sub li {
  padding: 3px 0;
}
header .inner .bottomgnb .sub li:hover a::after {
  width: 100%;
}
header .inner .bottomgnb .sub li a {
  color: #555;
  position: relative;
  font-size: 14px;
}
header .inner .bottomgnb .sub li a:hover a::after {
  width: 100%;
}
header .inner .bottomgnb .sub li a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background-color: #007aff;
  opacity: 0.3;
  left: 0;
  bottom: 2px;
  transition: 0.35s;
}
header .inner .bottomgnb .lnb li.main.on {
  padding-right: 40px;
  transition: 0.35s;
}
header .inner .bottomgnb .lnb > ul {
  display: flex;
}
header .inner .bottomgnb .rnb {
  display: flex;
}
header .inner .bottomgnb .rnb:hover li.main.on {
  padding-left: 40px;
  transition: 0.35s;
}
header .inner .bottomgnb .rnb > ul {
  display: flex;
}
header .inner .bottomgnb .rnb > ul > ul {
  display: flex;
}

section {
  height: 100vh;
  position: relative;
}

#sect2 .page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -654px;
}
#sect2 .page li {
  padding: 22px;
  font-weight: 200;
}
#sect2 .page li a {
  color: #aaa;
}
#sect2 .page li a.on {
  font-size: 22px;
  color: #3089c0;
  font-weight: bold;
}
#sect2 .videoContainer {
  width: 710px;
  height: 800px;
  margin: 40px auto;
  overflow: hidden;
}
#sect2 .videoContainer .videoWrap {
  display: flex;
  width: 400%;
  height: 100%;
  position: relative;
  transition: 1s cubic-bezier(0.59, 0, 0.41, 0.97);
}
#sect2 .videoContainer .videoWrap li.video {
  width: 710px;
  height: 800px;
  vertical-align: top;
  overflow: hidden;
}
#sect2 .videoContainer .videoWrap li.video video {
  vertical-align: top;
  position: relative;
  transform: translateX(-20%);
}
#sect2 .verticalContainer {
  position: absolute;
  overflow: hidden;
  width: 387px;
  height: 300px;
  left: 50%;
  top: 50%;
  margin-left: 420px;
}
#sect2 .verticalContainer .verticalSlide {
  height: 484px;
}
#sect2 .verticalContainer .verticalSlide h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 2rem;
}
#sect2 .verticalContainer .verticalSlide p {
  font-size: 20px;
  font-weight: lighter;
}
#sect2 .verticalContainer .verticalWrap {
  position: relative;
  transition: 0.5s;
  transition-delay: 0.3s;
}
#sect2 a.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#sect2 a.arrow.stop {
  pointer-events: none;
  opacity: 0.5;
}
#sect2 a.arrow img {
  width: 100px;
}
#sect2 a.prev {
  left: 2%;
}
#sect2 a.next {
  right: 2%;
}

#sect3 {
  margin: auto;
}
#sect3 h2 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
#sect3 .sect3Tab {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#sect3 .sect3Tab li {
  padding: 0 10px;
  font-size: 25px;
  font-weight: lighter;
  cursor: pointer;
  color: #888;
}
#sect3 .sect3Tab li.on {
  font-weight: bold;
  color: #007aff;
}
#sect3 .swiperContainer {
  width: 100%;
  height: 100%;
  margin: auto;
}
#sect3 .swiperContainer .swiper {
  position: absolute;
}
#sect3 .swiperContainer .swiper .swiper-slide {
  background-color: #eee;
  width: 70%;
  height: 70%;
}
#sect3 .swiperContainer .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
}
#sect3 .swiperContainer .swiper:nth-child(2) {
  display: none;
}

#sect4 h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
#sect4 .slideContainer {
  overflow: hidden;
  width: 710px;
  height: 710px;
  margin: auto;
}
#sect4 .slideContainer .slideWrap {
  position: relative;
  display: flex;
  transition: 0.35s cubic-bezier(0.42, 0, 1, 1);
}
#sect4 ul.menu {
  position: absolute;
  left: 50%;
  margin-left: 440px;
  top: 50%;
  transform: translateY(-50%);
}
#sect4 ul.menu li {
  height: 144px;
}