@import url(/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Noto+Sans+KR&display=swap');
// font-family: 'Metrophobic', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;

$font-size:50px;
$font-weight: 300;

@mixin sectionTitle {
    font: {
        size: 50ox;
        weight: $font-weight;
    }
    color: #333;
    line-height: 62px;
    letter-spacing: 4.5px;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}
.inner{
    width: 1470px;
    margin: auto;
}
header{
    height: 155px;
    background: #fff;
    .inner{
        span.hover{display: none;}
        a{
            display: inline-block;
        }
        li.main > a{
            color:#333;
        }

        .topgnb{
            height: 76px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            ul{display: flex; }
            .gnb{
                li{
                    padding: 0 5px;
                }
                li a{
                    font-weight: 100;
                }
            }
            .event{
                li{
                    margin: 0 5px;
                }
                a{
                    text-align: center;
                    color: white;
                    height: 36px;
                    padding: 0 20px;
                    margin-left: 5px;
                    line-height: 36px;
                }
                li:nth-child(1){
                    background: url(./img/wedding-icon.png);
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    background-color: #139cae;
                    text-indent: 10px;
                    border-radius: 20px;
                }
                li:nth-child(2){
                    background-color: #9badb6;
                    border-radius: 20px;
                }
            }
        }
        .bottomgnb{
            display: flex;
            justify-content: space-between;
            li.main{
                position: relative;
                &:hover > a{
                    color: #007aff;
                }
            }
            li.main >a{
                padding-right: 20px;
            }
            .sub{
                position: absolute;
                width: 100%;
                display: none;
                li{
                    padding: 3px 0;
                    &:hover a::after{
                        width: 100%;
                    }
                    a{
                        color:#555;
                        position: relative;
                        font-size: 14px;
                        &:hover a::after{
                            width: 100%;
                        }
                        &::after{
                            position: absolute;
                            content: '';
                            width: 0%;
                            height: 3px;
                            background-color: #007aff;
                            opacity: .3;
                            left: 0;
                            bottom: 2px;
                            transition: .35s;
                        }
                    }
                }
            }
            
            .lnb{
                li.main.on{
                    padding-right: 40px;
                    transition: .35s;                   
                }
                &>ul{
                    display: flex;
                }
            }
            .rnb{
                display: flex;
                &:hover{
                    li.main.on{
                        padding-left: 40px;
                        transition: .35s;
                    }
                }
                &>ul{
                    display: flex;
                    &>ul{
                        display: flex;
                    }
                }

            }

        }
    }
}
section{
    height: 100vh;
    position: relative;
}
#sect2{
    .page{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        margin-left: -654px;
        li{
            padding: 22px;
            font-weight: 200;
            a{
                color: #aaa;
                &.on{
                    font-size: 22px;
                    color: #3089c0;
                    font-weight: bold;
                }
            }
        }
    }
    .videoContainer{
        width: 710px;
        height: 800px;
        margin:40px auto;
        overflow: hidden;
        .videoWrap{
            display: flex;
            width: 400%;
            height: 100%;
            position: relative;
            transition: 1s cubic-bezier(0.59, 0, 0.41, 0.97);
            li.video{
                width: 710px;
                height: 800px;
                vertical-align: top;
                overflow: hidden;
                video{
                    vertical-align: top;
                    position: relative;
                    transform: translateX(-20%);
                }
            }
        }
    }
    .verticalContainer{
        position: absolute;
        overflow: hidden;
        width: 387px;
        height: 300px;
        left: 50%;
        top: 50%;
        margin-left: 420px;
        .verticalSlide{
            height: 484px;
            h2{
                font-size: 40px;
                font-weight: 500;
                margin-bottom: 2rem;
            }
            p{
                font-size: 20px;
                font-weight:lighter;
            }
        }
        .verticalWrap{
            position: relative;
            transition: .5s;
            transition-delay: .3s;
        }
    }
    a.arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &.stop{
            pointer-events: none;
            opacity: .5;
        }
        img{width: 100px;}
    }
    a.prev{left: 2%;}
    a.next{right:2%;}
}
#sect3{
    margin: auto;
    h2{
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .sect3Tab{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        li{
            padding: 0 10px;
            font-size: 25px;
            font-weight: lighter;
            cursor: pointer;
            color: #888;
            &.on{
                font-weight: bold;
                color:#007aff;
            }
        }
    }
    .swiperContainer{
        width: 100%;
        height: 100%;
        margin: auto;
        .swiper{
            position: absolute;
            .swiper-slide{
                background-color: #eee;
                width: 70%;
                height: 70%;
                img{
                    width: 80%;
                    height: 80%;
                }
            }
        }
        .swiper:nth-child(2){
            display: none;
        }
    }
}
#sect4{
    h2{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .slideContainer{
        overflow: hidden;
        width: 710px;
        height: 710px;
        margin: auto;
        .slideWrap{
            position: relative;
            display: flex;
            transition: .35s cubic-bezier(0.42, 0, 1, 1)
        }
    }
    ul.menu{
        position: absolute;
        left:50%;
        margin-left: 440px;
        top:50%;
        transform: translateY(-50%);
        li{
            height: 144px;

        };
    }
}


