@import url(/reset.css);
a.arrow {
  position: absolute;
  bottom: 5%;
}
a.arrow.prev {
  left: 5%;
}
a.arrow.next {
  right: 5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body .container {
  width: 100%;
  height: 100%;
}
body .slideWrap {
  position: relative;
}
body .slide {
  cursor: pointer;
}
body .slide img {
  width: 100%;
  vertical-align: top;
}

a.allBtn {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(./FTERIMG/btn_list.png);
}

a.allBtn:hover {
  background-image: url(./FTERIMG/btn_list_on.png);
}

a.allBtn.on {
  background-image: url(./FTERIMG/btn_list2.png);
}

@media screen and (max-width: 580px) {
  a.arrow {
    display: none;
  }
}
@media screen and (min-width: 581px) {
  .slideWrap {
    display: flex;
    flex-wrap: wrap;
    width: 1000%;
    height: 100%;
  }
  .slideWrap .slide {
    width: 3.4%;
  }
}
@media screen and (min-width: 1020px) {
  .slideWrap {
    display: flex;
    flex-wrap: wrap;
    width: 1000%;
  }
  .slideWrap .slide {
    width: 2.5%;
  }
}